__pycache__/
*.pyc
.coverage
hc.sqlite
hc/local_settings.py
static-collected
.DS_Store
static/.DS_Store
.vscode/
.env
.idea/
hc-venv
hc/accounts/migrations/0001_initial.py
hc/api/migrations/0001_initial.py
hc/payments/migrations/0001_initial.py
