AfricastalkingGateway==2.0
amqp==2.2.2
billiard==3.5.0.3
boto==2.48.0
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
cssselect==1.0.3
cssutils==1.0.2
dj-database-url==0.4.2
Django==1.10
django-appconf==1.0.1
django-compressor==2.1
django-ses==0.8.5
django-ses-backend==0.1.1
djmail==0.11.0
future==0.16.0
futures==3.0.3
gunicorn==19.7.1
heroku==0.1.4
idna==2.6
kombu==4.1.0
lxml==4.1.1
mock==2.0.0
Naked==0.1.31
pbr==3.1.1
premailer==2.9.6
psycopg2==2.7.3.2
pycrypto==2.6.1
PyJWT==1.5.3
PySocks==1.6.8
python-dateutil==1.5
pytz==2017.3
PyYAML==3.12
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
shellescape==3.4.1
six==1.11.0
twilio==6.10.0
urllib3==1.22
vine==1.1.4
whitenoise==3.3.1
