@import url('https://fonts.googleapis.com/css?family=Gafata');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300');
.wmd-input {
    height: 200px !important;
    width: 100% !important;
    background-color: white !important;
    border: 1px solid DarkGray;
    right: 150px;}    

.message {
    font-family: 'Gafata', sans-serif;
}

.wmd-panel {
    margin-left: 0% !important;
}

.blog-submit{
    width: 40%;
    margin: 0 auto;
}

.blog-submit button{
    float: right;
}
.markdown p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: inherit;
    font-weight: 300;
    text-align: justify;
    color: #222;
    font-size: 1.2em;
}
.blog-title{
    font-family: "Monstserrat", sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}

.blog-title h2{
    font-size: 1.3em;
    font-weight: 500;
}

.blog-meta{
    color: #4a4747;
    font-size: .8em;
    font-family: "Monstserrat", sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 100;
}

.blog-del{
    background: #de5252;
    border: #de5252;
    color: #FFF;
    font-family: "Monstserrat", sans-serif;
    letter-spacing: .2em;
    padding: 0.5em 0.5em;
    text-transform: uppercase;
    font-weight: 100;
    transition: background .5s ease-in;
    padding-left: 4px;
}
.blog-del:hover{
    border:2px solid #de5252;
    background: transparent;
    color: #333;
}
#blogpost{
    width:35%;
    padding: 0;
    padding-top: 0;
    margin-left: 10px;
}
.bloghead{
    width: 100%;
}
.blogtitle{
    border-bottom: 4px solid black;
}
.blogbody{
    border-bottom: 4px solid black;
}
#regret_message{
    border-radius: 25px;
    border: 1px solid black;
    padding: 0px; 
    width: 200px;
    height: 150px; 
    padding-left:40px;
}