{% extends "base.html" %}
{% load staticfiles %}

{% block blog_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <div class="blog-container">
            <div class="message">
                    <h3>You can create and share blogs to contribute knowledge and expertise on automating business systems</h3>
                </div>
        <form method = "POST" class = "as_p blog-form">
            {% csrf_token %}
            <div class="form-group">
                    <div class="input-group input-group-sm-lg">
                        <div class="input-group-addon">Title</div>
                        <input
                            type="text"
                            class="form-control"
                            name="title"
                            required
                            placeholder="Blog Title">
                    </div>
                </div><br>
            
            {{ form }}
            <div class="blog-submit">
                <button type="submit" class= "btn btn-success" > Save</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='/blog/'">Cancel</button>
            </div>
            
        </form>
    </div>

{% endblock %}
