{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Blog - healthchecks.io{% endblock %}

{% block content %}
{% if messages %}
    <div class="col-sm-12">
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

<div class="row">
        <div class="col-sm-2">
            <ul class="docs-nav">
                <li {% if section == "home" %} class="active" {% endif %}>
                    <h4>Categories</h4>
                    <ul>
                    
                    {% for category in categories %}
                        <li><a href="{% url 'hc-category' category.id %}">{{ category.name }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <hr>
            </ul>
    
        </div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-8">
            <h2 style="color:rgb(24, 194, 137);" class="text-center">
                    {% if request.team == request.user.profile %}
                       <u>{{category.name}}</u>
                    {% else %}
                        {{ request.team.team_name }}
                    {% endif %}
                    <a href="#" data-toggle="modal"
                    data-target="#delete-category-modal"
                    class="btn btn-link" style="color:rgb(209, 61, 61);">
                    <span class="glyphicon glyphicon-trash" ></span></a>
                </h2>
        </hr>
    {% if blogs %}
    {% for blog in blogs %}
        <a class="blog-title" href="{% url 'hc-single-blog' cat_id=category.id blog_id=blog.id %}"><h2>{{blog.title}}</h2></a>
        <div class="markdown">
            <p>{{blog.body}}</p>
    </div>

        <span class='blog-meta'>Created: {{blog.created_date|timesince}} ago</span><br><br>
        <div>
            <form method="get" action="{% url 'hc-single-blog' cat_id=category.id blog_id=blog.id %}">
                {% csrf_token %}
                <button type="submit" name="delete-blog" data-method="DELETE" class="btn btn-danger btn-sm" >
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
            </form>
        </div>
        
    {% endfor %}
        
    {% else %}
    <div class="alert alert-info">You don't have any posts in this category yet.</div>
    {% endif %}
    <div class="row">
        </br></div><br>
        <form method="post" action="{% url 'hc-add-blog' cat_id=category.id%}" class="text-center">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-lg" value="Add Post">
            </form>
    </div>

    </div>
</div>
</div>
<div id="delete-category-modal" class="modal">
        <div class="modal-dialog">
            <form method="get" action="{% url 'hc-add-category' cat_id=category.id %}" class="form-horizontal">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="remove-check-title">Delete Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p>You are about to delete a category.</p>
                            <p>Are you sure?</p>
                            <input
                                type="hidden"
                                name="email"
                                id="remove-team-member-email" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button
                                type="submit"
                                name="delete-cat"
                                class="btn btn-danger">Yes</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}