{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Blog - healthchecks.io{% endblock %}

{% block content %}
{% if messages %}
    <div class="col-sm-12">
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
<div class="row">
    <div class="col-sm-offset-1 col-sm-9">
            <h1>
                    {% if request.team == request.user.profile %}
                        Category Posts
                    {% else %}
                        {{ request.team.team_name }}
                    {% endif %}
                </h1>
            </br>
        </hr>
    {% if blogs %}
    {% for blog in blogs %}
        <a class="blog-title" href="{% url 'hc-single-blog' cat_id=category.id blog_id=blog.id %}"><h2>{{blog.title}}</h2></a>
        <div class="markdown">
            <p>{{blog.body}}</p>
    </div>
        <span class='blog-meta'>Created: {{blog.created_date|timesince}} ago</span><br><br>
        <a href="{% url 'hc-delete-blog' cat_id=blog.category.id blog_id=blog.id %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Delete </a>
    {% endfor %}
        
    {% else %}
    <div class="alert alert-info">You don't have any posts in this category yet.</div>
    {% endif %}
    <div class="row">
        </br></div><br>
        <form method="post" action="{% url 'hc-add-blog' cat_id=category.id%}" class="text-center">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-lg" value="Add Post">
            </form>
    </div>

    </div>
</div>
</div>
{% endblock %}