{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Blog - healthchecks.io{% endblock %} 
{% block content %}
{% if messages %}
    <div class="col-sm-12">
{% for message in messages %}
<p class="alert alert-{{ message.tags }}">{{ message }}</p>
{% endfor %}
</div>
{% endif %}
<div class="container">
        <ul class="nav nav-tabs">
            <li><a href="{% url 'hc-add-blog' cat_id=category %}">Add blogs</a></li>
            <li class="active"><a href="#"> View blogs</a></li>
            <li><a href="{%url 'hc-blog'%}">Categories</a></li>
        </ul>
    </div><br>

<div class="row">
<div class="col-md-9">
{% if blogs %}
{% for blog in blogs %}
<h4>{{blog.category.name}} </h4>
<a href ="{% url 'hc-delete-category' cat_id=blog.category.id %}" class="btn btn-info btn-sm" class="btn btn-info btn-sm blog-del">
        <span class="glyphicon glyphicon-trash">Category</span> 
        </a>
        <br><br>
    <div id="blogpost" class=" col-md-4 panel panel-default">
        <div class="panel-heading bloghead">
            <h3 class="panel-title">{{blog.title}}</h3>
        </div>
        <div class="panel-body">
            {{blog.body| truncatechars:90}}
        </div>
        
        <div class="panel-footer"><a href="{% url 'hc-single-blog' cat_id=blog.category.id  blog_id=blog.id%}">ReadMore</a></div>
    </div>
    <br>
    <a href ="{% url 'hc-delete-blog' cat_id=category blog_id=blog.id %}" class="btn btn-info btn-sm blog-del">
            <span class="glyphicon glyphicon-trash">blog</span></a> 
            <br><br><br><br><br><br><br>  
   {% endfor %}
   {% else %}
   <div id="regret_message">
   <div class="panel-body">
        <h4>Hey! No blog posts in this category yet, Add blog!</h4>
    </div>
</div>

   {% endif %}
</div>
</div>
{% endblock %}


