{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Blog - healthchecks.io{% endblock %} 
{% block content %}
{% if messages %}
    <div class="col-sm-12">
{% for message in messages %}
<p class="alert alert-{{ message.tags }}">{{ message }}</p>
{% endfor %}
</div>
{% endif %}
<div class="container">
        <ul class="nav nav-tabs">
            <li><a href="{% url 'hc-add-blog' cat_id=category %}">Add blogs</a></li>
            <li class="active"><a href="#"> View blogs</a></li>
            <li><a href="{%url 'hc-blog'%}">Categories</a></li>
        </ul>
    </div><br>
<main role="main" class="container">
            <div class="row">
            <div class="col-md-8 blog-main">
    <!-- <a href="{%url 'hc-blog'%}" class="btn btn-primary">CATEGORIES</a> -->
   {% for blog in blogs %}
            <a class="blog-title" href="{% url 'hc-single-blog' cat_id=category blog_id=blog.id%}"><h2>{{blog.title}}</h2></a>
            <div class="markdown">
                <p>{{blog.body}}</p>
           </div>
            <span class='blog-meta'>Created on: {{blog.created_date|linebreaksbr}}</span><br><br>
            <!-- <a href="#" class="btn btn-info btn-sm" style="color:blue">
                <span class="glyphicon glyphicon-pencil" style="color:blue"></span> Edit 
              </a> -->
              <a href ="{% url 'hc-delete-blog' cat_id=category blog_id=blog.id %}" class="btn btn-info btn-sm blog-del">
                <span class="glyphicon glyphicon-trash"></span> Delete </a>
                

    <a href ="{% url 'hc-delete-blog' cat_id=category blog_id=blog.id %}" class="btn btn-info btn-sm" style="color:darkred">
        <span class="glyphicon glyphicon-trash text-danger"></span> Delete </a>
         
   {% endfor %}
</div>
</div>
</main>
<br><br>
<!-- <a href="{% url 'hc-add-blog' cat_id=category %}" class="btn btn-primary">ADD BLOG</a> -->
{% endblock %}


